%h1 Listing player_stats

%table
  %thead
    %tr
      %th Nameid
      %th Year
      %th Week
      %th Rush
      %th Pass
      %th
      %th
      %th

  %tbody
    - @player_stats.each do |player_stat|
      %tr
        %td= player_stat.nameid
        %td= player_stat.year
        %td= player_stat.week
        %td= player_stat.rush
        %td= player_stat.pass
        %td= link_to 'Show', player_stat
        %td= link_to 'Edit', edit_player_stat_path(player_stat)
        %td= link_to 'Destroy', player_stat, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Player stat', new_player_stat_path
