%p#notice= notice

%p
  %b Home:
  = @game.home
%p
  %b Homescore:
  = @game.homescore
%p
  %b Away:
  = @game.away
%p
  %b Awayscore:
  = @game.awayscore
%p
  %b Date:
  = @game.date
%p
  %b League:
  = @game.league

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
